/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}


body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Zilla Slab', serif;
  font-size: 15px;
}

@keyframes qr-card-animation {
  from{
    transform: translateX(-300%);
  }

  to{
    transform: translateX(0);
  }
}


#qr-card {
  margin: 5em auto 0em auto;
  width: 20em;
  height: 30em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5em;
  -webkit-box-shadow: 4px 2px 12px -4px rgba(0,0,0,0.69);
  -moz-box-shadow: 4px 2px 12px -4px rgba(0,0,0,0.69);
  box-shadow: 4px 2px 12px -4px rgba(0,0,0,0.69);
  animation: qr-card-animation 3s;
}

#qr-card:hover {
  transform: perspective(50rem) rotateX(10deg) translateY(-1em) scale(1.07);
  transition: 2s
}

#qr-card:not(hover) {
  transition: 2s;
}

#qr-image {
  width: 100%;
  height: 65%;
  border-radius: inherit;
  padding: 1em;
}

.text {
  text-align: center;
  padding: .5em;
}

#qr-title {
  font-weight:700;
  color: hsl(218, 44%, 22%);
}

#qr-text {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}